<div class="page-contents">
  <h1>About</h1>
  <p>Throughout the years, I had several music instruments. Each one has a story behind it. Some are gone, others joined the collection. Now it's time they find new owners.</p>
  <p>Magical Music Store is a fully working web application. The project was created as an exercise using skills I learned in Career Foundry Web Development Course. The following techniques were used:
  <ul>
    <li>Ruby on Rails</li>
    <li>HTML5</li>
    <li>CSS3 / SASS</li>
    <li>Bootstrap</li>
    <li>MySQL / PostgreSQL</li>
    <li>Git > Repo</li>
  </ul>
</div>
