<div class="page-contents">
  <h1>About</h1>
  <p>Throughout the years, I have collected several music instruments.</p>
  <p>Now it's time they find new music loving owners. Each piece has a story behind it.</p>
</div>
