<div>
  <h1>About</h1>
  <p>Throughout the years, I had several music instruments. Each one has a story behind it. This page is more or less a tribute to the instruments I own now. If you really want to buy one, send me a message.</p>
  <p>The following Web Development tools were used:
  <ul>
    <li>Ruby on Rails</li>
    <li>HTML5</li>
    <li>CSS3 / SASS</li>
    <li>JavaScript</li>
    <li>Bootstrap</li>
    <li>MySQL / PostgreSQL</li>
    <li>Git > Repo</li>
    <li>Devise</li>
    <li>CanCanCan</li>
    <li>SendGrid</li>
  </ul>
</div>
