<div class="page-contents">
  <h1>Contact</h1>
  <p>Fell in love with any of the instruments?</p>
  <p><a href="mailto:sicknsour@gmail.com">Click here to get in touch and check the prices.<a></p>
  <p>PS: no data from clients will be stored.</p>
</div>
