<div>
  <h1>GDPR</h1>
  <p>The sole purpose of this page is educational. I am not collecting data other than that collected via the plugins and applications used on the email forms. I will not store user data or sell it.</p>
</div>
