<div class="page-contents">
  <h1>Deal of the day</h1>

  <h2><%= link_to @featured_product_2.name, @featured_product_2 %></h2>
  <center><%= image_tag(@featured_product_2.image_url, class: "img-responsive product_img") if @featured_product_2.image_url %>
  </center>
  <!-- <p><%= @featured_product_2.name %></p>
  <p><%= @featured_product_3.name %></p> -->


</div>
