<table>
  <tbody>
    <tr>
      <td><h2>Congratulations!</h2></td>
    </tr>
    <tr>
      <td><p>You are the new owner of a great <%= @product.name %>. Great choice!</p></td>
    </tr>
    <tr>
      <td><p>Your <%= @appname %> Team</p></td>
    </tr>
  </tbody>
</table>
