<table>
  <tbody>
    <tr>
      <td><h2>Welcome!</h2></td>
    </tr>
    <tr>
      <td><p>Thanks for your registration. <%= @appname %> is a project for Career Foundry Web Development Course. If you have any comments, get in touch with us.</p></td>
    </tr>
    <tr>
      <td><p><strong>Bruno Correia</strong><br>Creator of <%= @appname %></p></td>
    </tr>
  </tbody>
</table>
