<h1>Editing User</h1>

<%= render 'form', user: @user %>
<%= link_to "Change your password", edit_user_registration_path %> |
<!-- <%= link_to 'Show', @user %> | -->
<%= link_to 'Cancel', users_path %>
